*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%; margin: 0px auto;
    border: 1px solid grey;
    display: grid;
    grid-template-rows: 60px 100px  200px 200px 200px 200px 200px 200px 200px 200px 200px 60px;
    grid-template-columns: repeat(3, 1fr) 100px;
    grid-gap: 20px;
}

        .div1{
            background-color: #ff4757;
            grid-column: 1/-1;
        }

        .div1{
            /* background-color: black; */
            border-radius: 4px;
            /* position: fixed; */
        }
        .div1 ul{
            overflow: auto;
        }
        .div1 li{
            float: left;
            list-style: none;
            margin: 13px 20px;
        }
        .div1 li a{
            padding: 3px 3px;
            text-decoration: none;
            color: white;
        }
        .search{
            float: left;
            color: white;
            padding: 7px 0px;
        }
        .div1 input{
            border: 1px solid black;
            border-radius: 15px;
            padding: 14px 5px;
            width: 127px;
        }
        .btn{
            background-color: rgb(146, 127, 255);
            padding: 18px;
            border: 1px groove;
            cursor: help;
            font-size: 19px;
            border-radius: 19px;
            float: right;
        }


        .div2{
            background-color: #2ed573;
        }
        .div3{
            background-color: #1e90ff;
        }
        .div4{
            background-color: #5352ed;
        }
        .div5{
            background-color: #2f3542;
            grid-row: 2/12;
            grid-column: 4/5;
        }
        .div6{
            background-color: grey;
            grid-column: 1/4;
        }


        /* footer section */
        .div7{
            background-color: #00d2d3;
            grid-column: 1/-1;
        }


        .div7 ul{
            overflow: auto;
            background-color: rgb(0, 0, 0);
            padding: 30px;
        }
        .div7 li{
            float: left;
            list-style: none;
        }
        .div7 li a{
            padding: 3px 3px;
            text-decoration: none;
            color: white;
        }