* {
    padding: 0;
    margin: 0;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: (rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}


/* body{
    background-color: darkslategrey;
}
.text-center{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* margin: 10%; 
    text-align: center;
    background-color: rgb(146, 127, 255);
    height: 70%;
    width: 60%;
    border-radius: 35px;
}
.login-heading{
    font-family: sans-serif;
    font-size: 38px;
    padding: 55px;
}
input{
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 37%;
    border-radius: 20px;
    margin: 14px;
    font-size: 16px;
}
#submit{
    background-color: gray;
    color: honeydew;
    padding: 10px;
    font-size: 12px;
    width: 11%;
    border-radius: 16px;
} */
